/data/
all_fires_processed.csv
fires_in_ph.csv
fires_in_ph_clean_4states.csv
fires_in_ph_clean.csv
buildings_dev_pha_1.0.csv
buildings_dev_pha_clean_1.0.csv
fires_in_ph_3.0.csv
full_fema_matches.csv
nspire_demo_deficiencies.csv
ph_fires_matched_1.0.csv
ph_fires_matched_1.1.csv
Public_Housing_Authorities.csv
Public_Housing_Developments.csv
archive/data_with_probs_4states.csv
archive/fires_in_ph_2.0.csv
archive/fires_in_ph_clean_2.1.csv
.gitignore
